extends layout

block content
  h1= title
  p Welcome to #{title}, v#{version}, #{description}
  h2 REST APIs
  ul(type="square")
    li
      a(href="/switches") Switches
      span &nbsp;- List all switches.
    li
      a(href="/test") Testing
      span &nbsp;- (404 - not found)